.cart-dropdown {
  position: absolute; //goes on top of anything
  width: 240px;
  height: 340px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid black;
  background-color: white;
  //places the dropdown on the top right edging of the page
  top: 90px;
  right: 40px;
  z-index: 5;

  //aligns everything inside the cart and display verticaly in form of a column
  //and if overflow it uses scroll to contain
  .cart-items {
    height: 240px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
  }
  //the button is always pushed to the bottom
  button {
    margin-top: auto;
  }
}
